.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .img_text{
    display: flex;
    align-items: center;
    grid-column-gap: 1rem;
}


.container .img_text .name_box{
    display: flex;
    flex-direction: column;
    grid-gap: 0.2rem;
}

.container .img_text .name_box h1{
    font-size: 1.8rem;
    color: white;
}

.container .img_text .name_box span{
    font-size: 1.4rem;
    color: #c7bfbf;
}

.container .icon {
    padding: 0.7rem;
    border-radius: 50%;
    background: #345458;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .img_text .name_box h1:hover{
    color: #c7bfbf;
    cursor: pointer;
}

.container .img_text .name_box:hover{
    color: #c7bfbf;
    cursor: pointer;
}